server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_management
    username: postgres
    password: Gervais0790194121
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  jwt:
    secret: c2VjdXJlLXNlY3JldC1rZXktdGhhdC1zaG91bGQtYmUtMzJieXRlcw==
    expiration: 86400000

admin:
  username: admin
  password: Admin1234@
  email: admin@gmail.coma