server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_management
    username: postgres
    password: Gervais0790194121
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  jwt:
    secret: "c2VjdXJlLXNlY3JldC1rZXktdGhhdC1zaG91bGQtYmUtMzJieXRlcw=="
    expiration: 86400000
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html